In [ ]:
###########################################
# Brie Powell                             #
# 10/05/2023                              #
# Start Time: 5:30 pm                     #
# End Time: 6:30 pm                       #
# 9-1-1 Call Data Cleaning                #
###########################################

In [1]:
import pandas as pd

data = pd.read_csv('911_metadata.csv')

In [3]:
data.head()

,id,link,title,date,state,civilian_initiated,deaths,potential_death,false_alarm,description,file_name
0,1,https://web.archive.org/web/20150417085342/htt...,North Hollywood bank robbery,2/97,California,0.0,2.0,1.0,0.0,– The unforgettable collection of radio loggin...,call_1.mp3
1,2,https://web.archive.org/web/20150417085342/htt...,Detroit Child’s 911 Call – audio,2/06,Michigan,1.0,1.0,1.0,0.0,– In Feb. 2006 5 year-old Robert Turner called...,call_2.mp3
2,3,https://web.archive.org/web/20150417085342/htt...,Sept. 11th Fire Tapes,9/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,https://web.archive.org/web/20150417085342/htt...,Sept. 11th Fire Tapes #2,9/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,https://web.archive.org/web/20150417085342/htt...,Sept. 11th Tape Archive,9/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data.count()

id                    742
link                  742
title                 742
date                  712
state                 726
civilian_initiated    727
deaths                727
potential_death       727
false_alarm           727
description           723
file_name             706
dtype: int64

In [10]:
data.set_index('id', inplace=True)

In [18]:
data.isnull().sum()

link                   0
title                  0
date                  30
state                 16
civilian_initiated    15
deaths                15
potential_death       15
false_alarm           15
description           19
file_name             36
dtype: int64

In [19]:
# make a mini-frame of te records with empty cells

problem_records = data[data.isnull().any(axis=1)]

problem_records.head()

,link,title,date,state,civilian_initiated,deaths,potential_death,false_alarm,description,file_name
id,,,,,,,,,,
3,https://web.archive.org/web/20150417085342/htt...,Sept. 11th Fire Tapes,9/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://web.archive.org/web/20150417085342/htt...,Sept. 11th Fire Tapes #2,9/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,https://web.archive.org/web/20150417085342/htt...,Sept. 11th Tape Archive,9/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,https://web.archive.org/web/20150417085342/htt...,Wheel of Fortune!,NaN,NaN,NaN,NaN,NaN,NaN,– fun video clip from the quiz show,NaN
7,https://web.archive.org/web/20150417085342/htt...,Wacky 911 CDs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
problem_records

,link,title,date,state,civilian_initiated,deaths,potential_death,false_alarm,description,file_name
id,,,,,,,,,,
3,https://web.archive.org/web/20150417085342/htt...,Sept. 11th Fire Tapes,9/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://web.archive.org/web/20150417085342/htt...,Sept. 11th Fire Tapes #2,9/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,https://web.archive.org/web/20150417085342/htt...,Sept. 11th Tape Archive,9/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,https://web.archive.org/web/20150417085342/htt...,Wheel of Fortune!,NaN,NaN,NaN,NaN,NaN,NaN,– fun video clip from the quiz show,NaN
7,https://web.archive.org/web/20150417085342/htt...,Wacky 911 CDs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
630,https://web.archive.org/web/20150417085338/htt...,Home invasion robbery,10/09,North Carolina,1.0,1.0,1.0,0.0,– In Oct. 2009 a Greensboro (NC) homeowner awo...,NaN
636,https://web.archive.org/web/20150417085338/htt...,DUI Suspect,11/09,Wisconsin,1.0,0.0,1.0,0.0,– In Nov. 2009 a woman driver in Clark County ...,NaN
639,https://web.archive.org/web/20150417085338/htt...,Officer shooting,5/09,California,1.0,1.0,1.0,0.0,– In May 2009 a mentally ill San Jose (Calif.)...,NaN
651,https://web.archive.org/web/20150417085343/htt...,Infant death,NaN,Texas,1.0,1.0,1.0,0.0,– In 2007 a 21 month-old toddler wandered into...,call_651.mp3
721,https://web.archive.org/web/20150417085349/htt...,Hanging from truck,6/10,Ohio,1.0,0.0,1.0,0.0,– In June 2010 a man decided to hitch-hike on ...,NaN

In [24]:
from pathlib import Path

filepath = Path('problem_records.csv')
problem_records.to_csv(filepath)